<!DOCTYPE html>
<html>
<title>OCR DETECTION</title>

<!-----------------------------  EXTERNAL LIB SECTION  ----------------------------------->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



<!-----------------------------  CSS SECTION  ----------------------------------->
<style>
    body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }

      .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("/static/header.jpg");
      min-height: 55%;
    }
    

      * {
      box-sizing: border-box;
      }



      h1 {
      color: black;
      text-align: center;
      }

      #form1 {

      border: 5px solid black;
      background-color: #f2f2f2;
      padding: 50px 100px 50px 100px;
      text-align: center;
      }


      input[type=submit] {
      width: 25%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }

      input[type=button] {
      width: 10%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }

</style>

<!------------------------   Untitled design-970x250
<script type="text/javascript">
var bannersnack_embed = {"hash":"bdp5wcnj7","width":970,"height":250,"t":1606854777,"userId":43061309,"responsive":true,"type":"html5"};
</script>
<script type="text/javascript" src="//cdn.bannersnack.com/iframe/embed.js"></script>
 ------------------------>

<!-----------------------------  BODY SECTION  ----------------------------------->
<body style="background-color:powderblue;">
<!-----------------------------  HEADER SECTION  ----------------------------------->


    <header class="bgimg w3-display-container w3-grayscale-min" id="home">

        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">

        </div>

        <center><div class=" w3-padding-16 " >

      </div></center>

        <div class="w3-display-bottomright w3-center w3-padding-large">

        </div>

    </header>


   <br>
   <br>
<!----------------------------- EXTENSION  ----------------------------------->
    {% block content %}





    {% endblock %}
<!----------------------------------------------------------------------------->





</body>
<!-----------------------------  FOOTER SECTION  ----------------------------------->
<br>

<footer class="w3-container w3-black w3-center w3-margin-top">
    <p>Find me on social media.</p>
  
      <a href="https://www.facebook.com/devdatta.supnekar/" target="_blank"><i class="fa fa-facebook w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/devdatta_supnekar/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
      <a href="https://github.com/devdatta95" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
      <a href="https://twitter.com/Devdatt64663823" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/devdatta-supnekar-659aa594/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
      <p>Made by Devdatta Supnekar</p><i class="fa fa-drupal w3-hover-opacity" style="font-size:55px;color:red;text-shadow:2px 2px 4px #000000;"></i>
      <br>
      <br>
    </footer>
  </html>

  <!-----------------------------  THE END  ----------------------------------->