<!doctype html>
<html>
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>DOCUMENT READER</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


<!-- Custom styles for this template -->
<link href="/static/css/form_upload.css" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-Upload">
<form method=post enctype=multipart/form-data>
<label for="dtype">Document Type :</label>
<select name="type" id="dtype">
    <option value="Aadhar_Card">Aadhar Card</option>
    <option  value="Driving_Licence">Driving Licence</option>
    <option value="Pancard">Pancard</option>
    
</select>
<h1 class="h3 mb-3 fw-normal">Please Upload Image</h1>
<input type="file" name=image class="form-control" id="image">
<input class="w-25 btn btn-lg btn-primary" type="submit" value="Extract">
<br>

</form>
<body>
    {% for key, value in extract.items() %}
    {{ key }} : {{ value }}
    <br/>
{% endfor %}
</body>
</main>
</html>
